<%- include("includes/header.ejs") %>
  <body>
    <h1>This is my Home Page</h1>

    <!-- Interpolation syntax yani html tgas k ander ejs tags ki madad sy js expressions perform krna -->
    <h3><%= ["ali" , "abbas" , "Kashif"][2] %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam error
      dicta laudantium. Nam iste aspernatur vitae dignissimos odio rerum
      possimus officiis dolores consequuntur officia fugiat porro explicabo,
      voluptate saepe quos.
    </p>
    <button>Click Me</button>
  </body>
</html>
