<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is my Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam error
      dicta laudantium. Nam iste aspernatur vitae dignissimos odio rerum
      possimus officiis dolores consequuntur officia fugiat porro explicabo,
      voluptate saepe quos.
    </p>
    <button>Click Me</button>
  </body>
</html>
