<%- include("includes/header.ejs") %>
  <body>
    <h1>Dice gave value <%= diceVal %></h1>

    <!-- Use of Conditional Statements in ejs -->
    <% if(diceVal == 6){ %>
    <h2>Nice! roll again</h2>
    <% } %>
  </body>
</html>
